* text=auto !eol
action/configuration.php -text
exec/configuration.php -text
exec/convert_sql_utf8.php -text
exec/convert_utf8.php -text
exec/informer_auteur.php -text
exec/memoriser.php -text
exec/rechercher_auteur.php -text
exec/selectionner_auteur.php -text
/grenier-32.png -text
inc/actions.php -text
inc/afficher_objets.php -text
inc/date.php -text
inc/dater.php -text
inc/editer_auteurs.php -text
inc/formater_article.php -text
inc/formater_auteur.php -text
inc/informer_auteur.php -text
inc/meme_rubrique.php -text
inc/php3.php -text
inc/presentation.php -text
inc/presenter_liste.php -text
inc/ressembler.php -text
inc/selectionner_auteur.php -text
inc/vieilles_defs.php -text
/plugin.xml -text
prive/objets/editer/dater.html -text
