<plugin>
	<nom>Grenier</nom>
	<icon>grenier-32.png</icon>
	<auteur>Collectif SPIP</auteur>
	<version>0.1.0</version>
	<version_base>0.1.0</version_base>
	<etat>test</etat>
	<description>Fonctions et API d&eacute;pr&eacute;ci&eacute;es</description>
	<prefix>grenier</prefix>
	<categorie>outil</categorie>
	<necessite id="SPIP" version="[3.0.0-dev;)" />
</plugin>
